<!DOCTYPE html>
<html>
<head>
  <title>WeightTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <%= auto_discovery_link_tag(:atom, weight_entries_path(:atom)) %>
</head>
<body>

<%= yield %>

</body>
</html>
